<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Productos</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- FAVICON -->
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <!-- STYLESHEETS -->
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!-- CORE DEFAULT Stylesheet (theme scheme) - CHANGE THEME SCHEME HERE -->
    <link href="../assets/css/global-style_light--blue.min.css" rel="stylesheet" >  
    <link href="estilos.css" rel="stylesheet" type="text/css">
</head>
<body>
    <input id="" name="" placeholder="Buscador Interno" pattern="(.|\s)*\S(.|\s)*" required="">
    <button class="btn btn-primary btn-xs" type="submit" value="submit">Consultar</button>
    <br>
    <br>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary" id="table-inside-panel">
                <div class="panel-heading">Tabla de Productos</div>
                <table  border="1" style="margin: 0 auto;" style="text-align:center;">
                    <tr>
                        <th>#</th>
                        <th>id_no_parte</th>
                        <th>d_nombre</th>
                        <th>ids_fabricante</th>
                        <th>n_costo_mo</th>
                        <th>d_detalle_producto</th>
                        <th>d_observaciones</th>
                        <th>f_captura</th>
                        <th>f_ultima_modificacion</th>
                        <th>b_estatus_registro</th>
                        <th>x_usr_captura</th>
                        <th>x_usr_ult_modif</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>1000</td>
                        <td>Pedro</td>
                        <td>A first table row</td>
                        <td>A first table row</td>
                        <td>A first table row</td>
                        <td>A first table row</td>
                        <td>A first table row</td>
                        <td>A first table row</td>
                        <td>A first table row</td>
                        <td>A first table row</td>
                        <td>A first table row</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>100</td>
                        <td>Miguel</td>
                        <td>A first table row</td>
                        <td>A first table row</td>
                        <td>A first table row</td>
                        <td>A first table row</td>
                        <td>A first table row</td>
                        <td>A first table row</td>
                        <td>A first table row</td>
                        <td>A first table row</td>
                        <td>A first table row</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
    
</body>
</html>